# Eclipse
build
.project
.DS_Store
.classpath
.settings/
bin/**
libs
dist

.DS_Store
tmp
bin
build

*/*/modules
*/*/modules*
.apt_generated
build.properties
.gitignore
.svn
*.pyc

# Xcode
*~.nib/
*.pbxuser
*.perspective
*.perspectivev3
*.xcworkspace/
xcuserdata
*.xcuserstate
*.xcuserdata*

.idea/
libs/

android/clean
android/ant_clean
android/.classpath
android/.settings

android/launch-*
nbproject
ios/FacebookIOS.xcodeproj/project.xcworkspace/xcuserdata/
/android/java-sources.txt
